openapi: 3.2.0
info:
  title: LeafLink Marketplace V2 License Types API
  description: '# Introduction

    ## HTTP Request Notes

    All endpoints covered in this document are preceded by `https://{{domain}}/api/v2/` unless otherwise noted.


    Available domains


    - `app.leaflink.com` - production environment


    - `www.sandbox.leaflink.com` - sandbox environment


    - `www.leaflink-integrations.leaflink.com` - integrations sandbox environment


    [Learn more about sandbox environments](https://developer.leaflink.com/brands/api/authorization/#sandbox-environments)



    Request paths must end in a slash character (''/''). Those that do not will return a 400 (Bad Request) response.


    ## Dynamic Responses

    Some of our API endpoints support dynamic responses. These

    are responses that vary in content and/or object level payload size

    according to request path or query parameters.


    Available parameters are listed beneath endpoint definitions.

    '
  termsOfService: https://leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
  version: ''
servers:
- url: https://app.leaflink.com/api/v2
security:
- Token: []
tags:
- description: The LicenseType model represents a category of state-issued licenses.
  name: license-types
paths:
  /license-types/:
    parameters: []
    get:
      operationId: license-types_list
      summary: List
      description: 'List all licenses types available on LeafLink.

        <br />You can list the license types associated with

        a company''s products at <b>/companies/{company_id}/license-types</b>'
      parameters:
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/LicenseType'
      tags:
      - license-types
  /license-types/{id}/:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this license type.
      required: true
      schema:
        type: integer
    get:
      operationId: license-types_read
      summary: Read
      description: Retrieve an individual license type by ID.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseType'
      tags:
      - license-types
components:
  schemas:
    LicenseType:
      required:
      - type
      - display_type
      - classification
      - state
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        type:
          title: Type
          description: License Type
          type: string
          maxLength: 100
          minLength: 1
        display_type:
          title: Display Type
          description: Type for display in the LeafLink frontend
          type: string
          maxLength: 100
          minLength: 1
        classification:
          title: License Classification Type
          description: License Classification Type
          type: string
          maxLength: 100
          minLength: 1
        state:
          title: State
          description: 'id for the state [1: "AL", 2: "AK", 3: "AZ", 4: "AR", 5: "CA", 6: "CO", 7: "CT", 8: "DE", 9: "FL", 10: "GA", 11: "HI", 12: "ID", 13: "IL", 14: "IN", 15: "IA", 16: "KS", 17: "KY", 18: "LA", 19: "ME", 20: "MD", 21: "MA", 22: "MI", 23: "MN", 24: "MS", 25: "MO", 26: "MT", 27: "NE", 28: "NV", 29: "NH", 30: "NJ", 31: "NM", 32: "NY", 33: "NC", 34: "ND", 35: "OH", 36: "OK", 37: "OR", 38: "PA", 39: "RI", 40: "SC", 41: "SD", 42: "TN", 43: "TX", 44: "UT", 45: "VT", 46: "VA", 47: "WA", 48: "WV", 49: "WI", 50: "WY", 51: "PR", 52: "DC", 53: "SK", 54: "ON", 55: "QC", 56: "BC", 57: "AB", 58: "MB", 59: "NS", 60: "NB", 61: "NL", 62: "PE", 63: "NT", 64: "NU", 65: "YT"]'
          type: integer
        require_ein:
          title: Require ein
          description: EIN is required to register under this license type.
          type: boolean
        has_medical_line_items:
          title: Has medical line items
          description: This license type can sell medical line items.
          type: boolean
        active_for_registration:
          title: Active for registration
          description: This license type is available for current registrations.
          type: boolean
        description:
          title: Description
          description: Description or Notes
          type:
          - string
          - 'null'
          maxLength: 5000
        pre_2018_CA:
          title: Pre 2018 CA
          description: pre-2018 CA license.
          type: boolean
        post_2018_CA:
          title: Post 2018 CA
          description: post-2018 CA license.
          type: boolean
        created_on:
          title: Created on
          type: string
          format: date-time
          readOnly: true
        modified:
          title: Modified
          type: string
          format: date-time
          readOnly: true
        state_abbr:
          type: string
          description: Two letter abbreviation for the state associated with this license type.
  securitySchemes:
    Token:
      description: 'You must authenticate your requests by including your API key in each request header as described below.


        Requests should include a header named `Authorization`, with the value `App {MY_API_KEY}`. Note the single space in the header value.


        Example: `Authorization: App MY_API_KEY`


        [Learn more about generating your key](https://developer.leaflink.com/brands/api/getting-started/)


        **Legacy API keys:** If you are not using an Application API key, your authorization header should include the string `Token` and access will be scoped to all companies under which the user exists as a companystaff.


        Example: `Authorization: Token MY_API_KEY`

        '
      in: header
      name: Authorization
      type: apiKey
x-tagGroups:
- name: Orders
  tags:
  - order-object
  - orders-received
  - order-payments
  - order-sales-reps
  - order-event-logs
  - line-item-object
  - line-items
- name: Products
  tags:
  - product-object
  - products
  - product-categories
  - product-subcategories
  - listing-states
  - product-images
  - product-lines
  - strains
- name: Batches
  tags:
  - batch-object
  - batches
  - product-batch-object
  - product-batches
  - batch-document-object
  - batch-documents
- name: Inventory Items
  tags:
  - inventory-item-object
  - inventory-items
- name: Facilities
  tags:
  - facility-object
  - facilities
- name: Customers
  tags:
  - customer-object
  - customers
  - contacts
  - activity-entries
  - customer-statuses
  - customer-tiers
  - credits
  - customer-tags
- name: Company Information
  tags:
  - companies
  - company-staff
  - licenses
  - license-types
  - brands
  - promocodes
  - reports
- name: Buyer Orders
  tags:
  - buyer-order-object
  - buyer-orders
- name: Retailer Inventory
  tags:
  - retailer-inventory
