openapi: 3.2.0
info:
  title: LeafLink Logistics Transport API
  version: '2022-10-31'
  description: 'This reference specification outlines all the available HTTP operations of the LeafLink API.


    See the [LeafLink Developer Hub](/api) for guides, how-to, and general information of the API.

    '
  termsOfService: https://www.leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
servers:
- url: https://api.leaflink.com
  description: LeafLink API production URL.
- url: https://staging-api.leaflink.com
  description: LeafLink API staging URL.
security:
- bearerAuth: []
tags:
- name: Logistics Transport
paths:
  /deliveries/{id}:
    get:
      operationId: deliveries_retrieve
      description: Get a single Transport Order.
      summary: Get Transport Order
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this l3 order.
        required: true
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - Logistics Transport
      security:
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedL3Order'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
  /transportation/companies:
    get:
      operationId: transportation_companies_list
      description: List all transport companies.
      summary: List Transport Companies
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: state_abbr
        schema:
          type: string
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - Logistics Transport
      security:
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTransportCompanyList'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
  /transportation/drivers:
    get:
      operationId: transportation_drivers_list
      description: Get active drivers for given transport partner, by default returns only active drivers.
      summary: List Drivers
      parameters:
      - in: path
        name: include_inactive
        schema: {}
        description: If set to 'true' endpoint will return all Drivers, both active and inactive.
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - Logistics Transport
      security:
      - tokenAuth: []
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInternalDriverList'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
    post:
      operationId: transportation_drivers_create
      description: Create Driver
      summary: Create Driver
      parameters:
      - in: query
        name: email
        schema:
          type: string
      - in: query
        name: first_name
        schema:
          type: string
      - in: query
        name: last_name
        schema:
          type: string
      - in: query
        name: license_number
        schema:
          type: string
      - in: query
        name: metrc_employee_id
        schema:
          type: string
      - in: query
        name: phone
        schema:
          type: string
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - Logistics Transport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalDriverRequest'
        required: true
      security:
      - tokenAuth: []
      - bearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalDriver'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
  /transportation/orders:
    get:
      operationId: transportation_orders_list
      description: List multiple Transport Order.
      summary: List Transport Order
      parameters:
      - in: query
        name: buyer
        schema:
          type: string
      - in: query
        name: delivery_date
        schema:
          type: string
          format: date
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: order_invoice_number
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: pickup_date
        schema:
          type: string
          format: date
      - in: query
        name: requested_date
        schema:
          type: string
          format: date
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - in: query
        name: sort_by
        schema:
          type: array
          items:
            type: string
            enum:
            - -created_on
            - -display_delivery_date
            - -requested_pickup_date
            - created_on
            - display_delivery_date
            - requested_pickup_date
        description: Ordering
        explode: false
        style: form
      - in: query
        name: status
        schema:
          type: array
          items:
            type: string
            title: Status of L3Order
            enum:
            - assigned
            - created
            - delivered
            - planned
            - shipped
            - uploaded
        explode: true
        style: form
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - Logistics Transport
      security:
      - tokenAuth: []
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUnifiedL3OrderList'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
  /transportation/orders/{id}:
    get:
      operationId: transportation_orders_retrieve
      description: Get a single Transport Order.
      summary: Get Transport Order
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this l3 order.
        required: true
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - Logistics Transport
      security:
      - tokenAuth: []
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedL3Order'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
  /transportation/partners:
    get:
      operationId: transportation_partners_list
      description: List all transport partners for all companies to which the requesting user has access.
      summary: List Company Transport Partner
      parameters:
      - in: query
        name: company_slug
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - Logistics Transport
      security:
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCompanyTransportPartnerList'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
    post:
      operationId: transportation_partners_create
      description: Company transport partner view set.
      summary: Create Company Transport Partner
      tags:
      - Logistics Transport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyTransportPartnerRequest'
        required: true
      security:
      - bearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyTransportPartner'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
  /transportation/partners/{id}:
    patch:
      operationId: transportation_partners_partial_update
      description: Company transport partner view set.
      summary: Update Company Transport Partner
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this company transport partner.
        required: true
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - Logistics Transport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCompanyTransportPartnerRequest'
      security:
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyTransportPartner'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
  /transportation/vehicles:
    get:
      operationId: transportation_vehicles_list
      description: Get vehicles for given transport partner.
      summary: List Vehicles
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - Logistics Transport
      security:
      - tokenAuth: []
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedVehicleList'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
    post:
      operationId: transportation_vehicles_create
      description: Create Vehicle
      summary: Create Vehicle
      parameters:
      - in: query
        name: has_air_conditioner
        schema:
          type: boolean
      - in: query
        name: license_number
        schema:
          type: string
      - in: query
        name: make
        schema:
          type: string
      - in: query
        name: model_name
        schema:
          type: string
      - in: query
        name: model_year
        schema:
          type: integer
      - in: query
        name: state_id
        schema:
          type: integer
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - Logistics Transport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleRequest'
      security:
      - tokenAuth: []
      - bearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
components:
  schemas:
    Company-unified-upstream-marketplace:
      type: object
      description: API v2 serializer for the Company model.
      properties:
        address:
          type: string
        announcement:
          type:
          - string
          - 'null'
          description: Company Announcement
          maxLength: 2000
        apply_ancillary_tax:
          type: boolean
          readOnly: true
        apply_arms_length_tax:
          type: boolean
          readOnly: true
        batch_enabled:
          type: boolean
          readOnly: true
          default: true
        business_identifier:
          type:
          - string
          - 'null'
          title: Business Identifier / UBI
          description: Company identifier distinct from license numbers
          maxLength: 100
        business_license_name:
          type:
          - string
          - 'null'
          description: Business License Name
          maxLength: 400
        buyer:
          type: boolean
          title: Is a Buyer
          description: Company buys on LeafLink
        can_access_shop_brands:
          type: boolean
          readOnly: true
        city:
          type: string
        dba:
          type: string
          description: DBA of company
          maxLength: 400
        description:
          type: string
        has_accting:
          type: boolean
          title: Enable Accounting Service integration
          description: When true can access Accounting Services
        hide_attached_packages:
          type: boolean
          title: Hide attached packages?
          description: Hide seed to sale packages that are mapped to a LeafLink resource?
        id:
          type: integer
          readOnly: true
        image:
          type:
          - string
          - 'null'
          format: uri
        name:
          type: string
          description: Name of Company (Note this is not the same as Brand)
          maxLength: 400
        seller:
          type: boolean
          title: Is a Seller
          description: Company sells on LeafLink
        slug:
          type: string
          maxLength: 50
          pattern: ^[-a-zA-Z0-9_]+$
        state:
          type: string
        sts_enabled:
          type: boolean
        zipcode:
          type: string
        available_languages:
          type: array
          items: {}
        available_languages_translated:
          type: array
          items:
            type: array
            items:
              type: string
            minLength: 2
            maxLength: 2
          readOnly: true
        default_language:
          type: array
          items: {}
        default_language_translated:
          type: array
          items:
            type: string
          minLength: 2
          maxLength: 2
          readOnly: true
        enable_post:
          type: boolean
          title: Enable LL PoST
          description: Whether this company has opted in to Payment on Sell Through
        current_plan_id:
          type: string
          readOnly: true
        default_payment_on_sell_through_payment_term:
          $ref: '#/components/schemas/PaymentTerm'
        is_payment_on_sell_through_default:
          type: boolean
          title: Default Payment on Sell-Through
          description: Is Payment on Sellthrough the default payment method
        always_share_sell_through_data:
          type: boolean
          title: Global override for companies_buyersellerpreferences.sell_through_data_shared
          description: Enable sell-through data sharing for all sellers in a buyer's CRM
      required:
      - address
      - apply_ancillary_tax
      - apply_arms_length_tax
      - available_languages
      - available_languages_translated
      - batch_enabled
      - can_access_shop_brands
      - city
      - current_plan_id
      - dba
      - default_language
      - default_language_translated
      - default_payment_on_sell_through_payment_term
      - id
      - name
      - sts_enabled
      - zipcode
    Driver:
      type: object
      description: serializer for Driver Model.
      properties:
        id:
          type: integer
          readOnly: true
        first_name:
          type: string
          title: First Name of Driver
          description: First Name
          maxLength: 100
        last_name:
          type: string
          description: Last Name of Driver
          maxLength: 100
        metrc_employee_id:
          type: string
          description: METRC Employee ID for Driver
          maxLength: 100
        license_number:
          type: string
          description: License Number of Driver
          maxLength: 15
        phone:
          type: string
          description: Phone Number of Driver
          maxLength: 15
        is_active:
          type: boolean
          title: Active
          description: Is an active driver?
        transport_company_id:
          type: integer
          description: Transport company driver is associated to.
          readOnly: true
      required:
      - first_name
      - id
      - last_name
      - license_number
      - metrc_employee_id
      - phone
      - transport_company_id
    PaginatedCompanyTransportPartnerList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/CompanyTransportPartner'
    Vehicle:
      type: object
      description: Internal serializer for Vehicle Model.
      properties:
        id:
          type: integer
          readOnly: true
        make:
          type:
          - string
          - 'null'
          title: Vehicle Make
          description: Vehicle Make
          maxLength: 255
        model_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          description: Vehicle Model Year
        model_name:
          type:
          - string
          - 'null'
          description: Vehicle Model Name
          maxLength: 255
        license_number:
          type:
          - string
          - 'null'
          description: License Number of Vehicle
          maxLength: 15
        capacity:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          description: Vehicle Capacity
        has_air_conditioner:
          type: boolean
          description: Vehicle Has Air Conditioner
        state:
          allOf:
          - $ref: '#/components/schemas/State-unified-upstream-marketplace'
          readOnly: true
      required:
      - id
      - state
    PaymentTerm:
      type: object
      description: Serialize payment term.
      properties:
        id:
          type: integer
          readOnly: true
        created_on:
          type: string
          format: date-time
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
        term:
          type: string
          title: Payment Term Name
          description: Name of the Payment Term
          maxLength: 80
        description:
          type: string
          title: Payment Term description
          description: Description of the Payment Term
          maxLength: 400
        days:
          type: integer
      required:
      - created_on
      - days
      - description
      - id
      - modified
      - term
    CompanyTransportPartnerRequest:
      type: object
      description: Seriazlier for Company Transport Partner Model.
      properties:
        transport_company_id:
          type: integer
          writeOnly: true
        company_id:
          type: integer
          writeOnly: true
      required:
      - transport_company_id
    InternalDriverRequest:
      type: object
      description: Internal serializer for Driver Model.
      properties:
        first_name:
          type: string
          minLength: 1
          title: First Name of Driver
          description: First Name
          maxLength: 100
        last_name:
          type: string
          minLength: 1
          description: Last Name of Driver
          maxLength: 100
        metrc_employee_id:
          type: string
          minLength: 1
          description: METRC Employee ID for Driver
          maxLength: 100
        license_number:
          type: string
          minLength: 1
          description: License Number of Driver
          maxLength: 15
        phone:
          type: string
          minLength: 1
          description: Phone Number of Driver
          maxLength: 15
        is_active:
          type: boolean
          title: Active
          description: Is an active driver?
      required:
      - first_name
      - last_name
      - license_number
      - metrc_employee_id
      - phone
    PatchedCompanyTransportPartnerRequest:
      type: object
      description: Seriazlier for Company Transport Partner Model.
      properties:
        transport_company_id:
          type: integer
          writeOnly: true
        company_id:
          type: integer
          writeOnly: true
    InternalVehicle:
      type: object
      description: Internal serializer for Vehicle Model.
      properties:
        id:
          type: integer
          readOnly: true
        make:
          type:
          - string
          - 'null'
          title: Vehicle Make
          description: Vehicle Make
          maxLength: 255
        model_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          description: Vehicle Model Year
        model_name:
          type:
          - string
          - 'null'
          description: Vehicle Model Name
          maxLength: 255
        license_number:
          type:
          - string
          - 'null'
          description: License Number of Vehicle
          maxLength: 15
        capacity:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          description: Vehicle Capacity
        has_air_conditioner:
          type: boolean
          description: Vehicle Has Air Conditioner
      required:
      - id
    InternalDriver:
      type: object
      description: Internal serializer for Driver Model.
      properties:
        id:
          type: integer
          readOnly: true
        first_name:
          type: string
          title: First Name of Driver
          description: First Name
          maxLength: 100
        last_name:
          type: string
          description: Last Name of Driver
          maxLength: 100
        metrc_employee_id:
          type: string
          description: METRC Employee ID for Driver
          maxLength: 100
        license_number:
          type: string
          description: License Number of Driver
          maxLength: 15
        phone:
          type: string
          description: Phone Number of Driver
          maxLength: 15
        is_active:
          type: boolean
          title: Active
          description: Is an active driver?
        transport_company:
          allOf:
          - $ref: '#/components/schemas/InternalTransportCompany'
          readOnly: true
      required:
      - first_name
      - id
      - last_name
      - license_number
      - metrc_employee_id
      - phone
      - transport_company
    State-unified-upstream-marketplace:
      type: object
      description: Serializer for State models via the internal API
      properties:
        id:
          type: integer
          readOnly: true
        abbr:
          type: string
          maxLength: 2
        name:
          type: string
          maxLength: 100
        country:
          $ref: '#/components/schemas/Country'
      required:
      - abbr
      - country
      - id
      - name
    PaginatedInternalDriverList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/InternalDriver'
    UnifiedL3Order:
      type: object
      description: Internal serializer for L3Order Model.
      properties:
        number:
          type: string
          readOnly: true
        invoice_number:
          type: string
          readOnly: true
        mp_order_number:
          type: string
          readOnly: true
        transport_order_id:
          type: string
          readOnly: true
        payment_expected:
          type: object
          properties:
            amount:
              type: number
              format: decimal
            currency:
              type: string
          required:
          - amount
          - currency
          description: Money object with amount and currency
        customer:
          type: object
          additionalProperties: {}
          readOnly: true
        pickup_address:
          type: object
          additionalProperties: {}
          readOnly: true
        destination:
          type: object
          additionalProperties: {}
          readOnly: true
        status:
          allOf:
          - $ref: '#/components/schemas/UnifiedL3OrderStatusEnum'
          title: Status of L3Order
        requested_pickup_date:
          type:
          - string
          - 'null'
          format: date
          title: Requested pick up date
          description: Requested pick up date
        expected_pickup_datetime:
          type:
          - string
          - 'null'
          format: date-time
          title: Expected pick up datetime
          description: Expected pick up date and time
        actual_pickup_datetime:
          type:
          - string
          - 'null'
          format: date-time
          title: Actual pick up datetime
          description: Actual date time the order was picked up
        requested_delivery_date:
          type:
          - string
          - 'null'
          format: date
          description: Requested delivery date for the order
        expected_delivery_datetime:
          type:
          - string
          - 'null'
          format: date-time
          description: Expected delivery date and time for the order
        actual_delivery_datetime:
          type:
          - string
          - 'null'
          format: date-time
          description: Actual delivery date and time for the order
        display_delivery_date:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        pickup_driver:
          $ref: '#/components/schemas/Driver'
        additional_pickup_drivers:
          type: array
          items:
            type: object
            additionalProperties: {}
          readOnly: true
        pickup_vehicle:
          $ref: '#/components/schemas/InternalVehicle'
        delivery_driver:
          $ref: '#/components/schemas/Driver'
        delivery_vehicle:
          $ref: '#/components/schemas/InternalVehicle'
        payment_method:
          $ref: '#/components/schemas/PaymentMethod'
        payment_term:
          $ref: '#/components/schemas/PaymentTerm'
        customer_notes:
          type:
          - string
          - 'null'
          description: Customer notes for the L3 Order
        notes:
          type:
          - string
          - 'null'
          title: Additional Notes
          description: Additional notes for the L3 Order
        eligible_payment_methods:
          type: array
          items:
            type: string
            maxLength: 100
          title: Eligible payment methods for this order
          description: A selection of eligible payment methods for this order
        payment_method_collected:
          type: string
          title: Collected Payment Method
          description: Payment method used for this order
          maxLength: 100
        collected_payment_amount:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          description: Payment collected at delivery
        delivery_driver_comment:
          type: string
          description: Comment from delivery driver for this order
          maxLength: 500
        metrc_transfer:
          type:
          - object
          - 'null'
          additionalProperties: {}
          readOnly: true
        created_on:
          type: string
          format: date-time
          readOnly: true
        transport_company:
          $ref: '#/components/schemas/TransportCompany'
        brand:
          $ref: '#/components/schemas/InternalLogisticsCompany'
      required:
      - additional_pickup_drivers
      - brand
      - created_on
      - customer
      - delivery_driver
      - delivery_vehicle
      - destination
      - display_delivery_date
      - invoice_number
      - metrc_transfer
      - mp_order_number
      - number
      - payment_expected
      - payment_method
      - payment_term
      - pickup_address
      - pickup_driver
      - pickup_vehicle
      - transport_company
      - transport_order_id
    PaginatedUnifiedL3OrderList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/UnifiedL3Order'
    CompanyTransportPartner:
      type: object
      description: Seriazlier for Company Transport Partner Model.
      properties:
        id:
          type: integer
          readOnly: true
        company:
          allOf:
          - $ref: '#/components/schemas/Company-unified-upstream-marketplace'
          readOnly: true
        transport_company:
          allOf:
          - $ref: '#/components/schemas/TransportCompany'
          readOnly: true
      required:
      - company
      - id
      - transport_company
    PaginatedVehicleList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/Vehicle'
    Address:
      type: object
      description: 'Serializer for Address models via the internal API.

        This includes but is not limited to delivery and corporate addresses for Companies.'
      properties:
        address:
          type: string
          description: Address
          maxLength: 400
        unit_number:
          type: string
          title: 'Unit #'
          description: 'Unit #'
          maxLength: 400
        city:
          type: string
          description: City
          maxLength: 400
        county:
          type: string
          description: County
          maxLength: 400
        state:
          type: string
        zipcode:
          type: string
          description: Zipcode
          maxLength: 7
      required:
      - address
      - city
      - state
      - zipcode
    InternalTransportCompany:
      type: object
      description: Internal serializer for TransportCompany Model.
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type:
          - string
          - 'null'
          title: Transport Company
          description: Name
          maxLength: 255
        medical_license_number:
          type:
          - string
          - 'null'
          description: Medical License Number of Transport Company
          maxLength: 100
        adult_use_license_number:
          type:
          - string
          - 'null'
          description: Adult-Use License Number of Transport Company
          maxLength: 100
      required:
      - id
    VehicleRequest:
      type: object
      description: Internal serializer for Vehicle Model.
      properties:
        make:
          type:
          - string
          - 'null'
          title: Vehicle Make
          description: Vehicle Make
          maxLength: 255
        model_year:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          description: Vehicle Model Year
        model_name:
          type:
          - string
          - 'null'
          description: Vehicle Model Name
          maxLength: 255
        license_number:
          type:
          - string
          - 'null'
          description: License Number of Vehicle
          maxLength: 15
        capacity:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          description: Vehicle Capacity
        has_air_conditioner:
          type: boolean
          description: Vehicle Has Air Conditioner
    PaginatedTransportCompanyList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/TransportCompany'
    PaymentMethod:
      type: object
      description: Serialize payment method.
      properties:
        id:
          type: integer
          readOnly: true
        created_on:
          type: string
          format: date-time
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
        method:
          type: string
          title: Payment Method Name
          description: Name of the Payment Method
          maxLength: 80
        description:
          type: string
          title: Payment Method Description
          description: Description of the Payment Method
          maxLength: 400
      required:
      - created_on
      - description
      - id
      - method
      - modified
    Country:
      type: object
      description: "Serializer for Country models via the internal API\n\nNote:\n    The code -> iso_code is alias is intentional"
      properties:
        id:
          type: integer
          readOnly: true
        abbr:
          type: string
          maxLength: 3
        iso_code:
          type: string
        name:
          type: string
          maxLength: 50
      required:
      - abbr
      - id
      - iso_code
      - name
    TransportCompany:
      type: object
      description: Serializer for TransportCompany model
      properties:
        transport_company_id:
          type: integer
          readOnly: true
        name:
          type: string
          readOnly: true
        medical_license_number:
          type: string
          readOnly: true
        adult_use_license_number:
          type: string
          readOnly: true
        state:
          type: string
          readOnly: true
      required:
      - adult_use_license_number
      - medical_license_number
      - name
      - state
      - transport_company_id
    UnifiedL3OrderStatusEnum:
      enum:
      - uploaded
      - created
      - assigned
      - planned
      - shipped
      - delivered
      - deleted
      type: string
    ComplianceLicense:
      type: object
      description: Serializer for License models via the v2 API
      properties:
        id:
          type: integer
          readOnly: true
          description: id for license
        number:
          type: string
          title: License Number
          description: License Number
          maxLength: 100
        type:
          type: string
          readOnly: true
          description: Type
        display_type:
          type: string
          readOnly: true
          description: Display type
        classification:
          type: string
          readOnly: true
          description: Classification
      required:
      - classification
      - display_type
      - id
      - number
      - type
    InternalLogisticsCompany:
      type: object
      description: Internal serializer for the Company model to be used by L3 endpoints.
      properties:
        id:
          type: integer
          readOnly: true
        display_name:
          type: string
        licenses:
          type: array
          items:
            $ref: '#/components/schemas/ComplianceLicense'
          readOnly: true
        delivery_address:
          allOf:
          - $ref: '#/components/schemas/Address'
          readOnly: true
        corporate_address:
          allOf:
          - $ref: '#/components/schemas/Address'
          readOnly: true
      required:
      - corporate_address
      - delivery_address
      - display_name
      - id
      - licenses
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Authentication is done via access tokens (JWTs). See the [API authentication doc](/api/getting-started/#authentication) for more information.

        '
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
