openapi: 3.2.0
info:
  title: LeafLink Marketplace V2 Reports API
  description: '# Introduction

    ## HTTP Request Notes

    All endpoints covered in this document are preceded by `https://{{domain}}/api/v2/` unless otherwise noted.


    Available domains


    - `app.leaflink.com` - production environment


    - `www.sandbox.leaflink.com` - sandbox environment


    - `www.leaflink-integrations.leaflink.com` - integrations sandbox environment


    [Learn more about sandbox environments](https://developer.leaflink.com/brands/api/authorization/#sandbox-environments)



    Request paths must end in a slash character (''/''). Those that do not will return a 400 (Bad Request) response.


    ## Dynamic Responses

    Some of our API endpoints support dynamic responses. These

    are responses that vary in content and/or object level payload size

    according to request path or query parameters.


    Available parameters are listed beneath endpoint definitions.

    '
  termsOfService: https://leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
  version: ''
servers:
- url: https://app.leaflink.com/api/v2
security:
- Token: []
tags:
- description: The Report model represents a report download initiated by a User
  name: reports
paths:
  /reports/:
    parameters: []
    get:
      operationId: reports_list
      summary: List
      description: 'List all reports generated under the company access scope.

        For legacy auth, only reports of types to which the user has permissions will be shown in the list.'
      parameters:
      - name: company_slug
        in: query
        description: Filter by company slug.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReportDownload'
      tags:
      - reports
    post:
      operationId: reports_create
      summary: Create
      description: Report download viewset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportDownload'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportDownload'
      tags:
      - reports
  /reports/{number}/:
    parameters:
    - name: number
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: reports__read
      summary: Read
      description: Retrieve an individual report by ID
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportDownload'
      tags:
      - reports
components:
  schemas:
    ReportDownload:
      required:
      - report_type
      - company
      type: object
      properties:
        number:
          title: Number
          type: string
          format: uuid
          readOnly: true
        user:
          title: User
          description: User (staff) who exported orders
          type: integer
          readOnly: true
        status:
          title: Status of orders export download
          description: Status of orders export download
          type: string
          enum:
          - running
          - failed
          - completed
          readOnly: true
        report_type:
          title: Report type
          type: string
          enum:
          - orders-assigned
          - orders-received
          - orders-sent
          - orders-report
          - ordered-products
          - accounts-receivable
          - customer-value
          - sales-rep-activity-feed
          - brand-performance
          - brand-owner-brand-performance
          - brand-owner-inventory-overview
        request_time:
          title: Orders export request date
          description: Date of requesting orders export
          type: string
          format: date-time
          readOnly: true
        complete_time:
          title: Orders export completed date
          description: Date of sending email with exported orders
          type: string
          format: date-time
          readOnly: true
        company:
          title: Company
          description: Company orders export refers to
          type: integer
        export:
          title: Report Export
          description: The Document that was exported
          type: string
          readOnly: true
          format: uri
        query:
          title: Query
          type: object
        to_email:
          title: User's email
          description: Email orders export has been send to
          type: string
          readOnly: true
          minLength: 1
  securitySchemes:
    Token:
      description: 'You must authenticate your requests by including your API key in each request header as described below.


        Requests should include a header named `Authorization`, with the value `App {MY_API_KEY}`. Note the single space in the header value.


        Example: `Authorization: App MY_API_KEY`


        [Learn more about generating your key](https://developer.leaflink.com/brands/api/getting-started/)


        **Legacy API keys:** If you are not using an Application API key, your authorization header should include the string `Token` and access will be scoped to all companies under which the user exists as a companystaff.


        Example: `Authorization: Token MY_API_KEY`

        '
      in: header
      name: Authorization
      type: apiKey
x-tagGroups:
- name: Orders
  tags:
  - order-object
  - orders-received
  - order-payments
  - order-sales-reps
  - order-event-logs
  - line-item-object
  - line-items
- name: Products
  tags:
  - product-object
  - products
  - product-categories
  - product-subcategories
  - listing-states
  - product-images
  - product-lines
  - strains
- name: Batches
  tags:
  - batch-object
  - batches
  - product-batch-object
  - product-batches
  - batch-document-object
  - batch-documents
- name: Inventory Items
  tags:
  - inventory-item-object
  - inventory-items
- name: Facilities
  tags:
  - facility-object
  - facilities
- name: Customers
  tags:
  - customer-object
  - customers
  - contacts
  - activity-entries
  - customer-statuses
  - customer-tiers
  - credits
  - customer-tags
- name: Company Information
  tags:
  - companies
  - company-staff
  - licenses
  - license-types
  - brands
  - promocodes
  - reports
- name: Buyer Orders
  tags:
  - buyer-order-object
  - buyer-orders
- name: Retailer Inventory
  tags:
  - retailer-inventory
