openapi: 3.2.0
info:
  title: LeafLink Marketplace V2 Licenses API
  description: '# Introduction

    ## HTTP Request Notes

    All endpoints covered in this document are preceded by `https://{{domain}}/api/v2/` unless otherwise noted.


    Available domains


    - `app.leaflink.com` - production environment


    - `www.sandbox.leaflink.com` - sandbox environment


    - `www.leaflink-integrations.leaflink.com` - integrations sandbox environment


    [Learn more about sandbox environments](https://developer.leaflink.com/brands/api/authorization/#sandbox-environments)



    Request paths must end in a slash character (''/''). Those that do not will return a 400 (Bad Request) response.


    ## Dynamic Responses

    Some of our API endpoints support dynamic responses. These

    are responses that vary in content and/or object level payload size

    according to request path or query parameters.


    Available parameters are listed beneath endpoint definitions.

    '
  termsOfService: https://leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
  version: ''
servers:
- url: https://app.leaflink.com/api/v2
security:
- Token: []
tags:
- description: The License model represents a single state-issued license held by a Company.
  name: licenses
paths:
  /licenses/:
    parameters: []
    get:
      operationId: licenses_list
      summary: List
      description: 'List all licenses for a user''s companies.

        <br />You can list the licenses associated with

        a company''s products at <b>/companies/{company_id}/licenses</b>'
      parameters:
      - name: number__in
        in: query
        description: Filter by number__in
        required: false
        schema:
          type: string
      - name: number
        in: query
        description: Filter by number
        required: false
        schema:
          type: string
      - name: company_slug
        in: query
        description: Filter by company_slug
        required: false
        schema:
          type: string
      - name: id
        in: query
        description: Filter by id
        required: false
        schema:
          type: number
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ComplianceLicense'
      tags:
      - licenses
  /licenses/{id}/:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this license.
      required: true
      schema:
        type: integer
    get:
      operationId: licenses_read
      summary: Read
      description: Retrieve an individual license by ID.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceLicense'
      tags:
      - licenses
components:
  schemas:
    ComplianceLicense:
      required:
      - number
      type: object
      properties:
        id:
          title: Id
          description: id for license
          type: integer
          readOnly: true
        number:
          title: License Number
          description: License Number
          type: string
          maxLength: 100
          minLength: 1
        type:
          title: Type
          description: Type
          type: string
          readOnly: true
        display_type:
          title: Display type
          description: Display type
          type: string
          readOnly: true
        classification:
          title: Classification
          description: Classification
          type: string
          readOnly: true
  securitySchemes:
    Token:
      description: 'You must authenticate your requests by including your API key in each request header as described below.


        Requests should include a header named `Authorization`, with the value `App {MY_API_KEY}`. Note the single space in the header value.


        Example: `Authorization: App MY_API_KEY`


        [Learn more about generating your key](https://developer.leaflink.com/brands/api/getting-started/)


        **Legacy API keys:** If you are not using an Application API key, your authorization header should include the string `Token` and access will be scoped to all companies under which the user exists as a companystaff.


        Example: `Authorization: Token MY_API_KEY`

        '
      in: header
      name: Authorization
      type: apiKey
x-tagGroups:
- name: Orders
  tags:
  - order-object
  - orders-received
  - order-payments
  - order-sales-reps
  - order-event-logs
  - line-item-object
  - line-items
- name: Products
  tags:
  - product-object
  - products
  - product-categories
  - product-subcategories
  - listing-states
  - product-images
  - product-lines
  - strains
- name: Batches
  tags:
  - batch-object
  - batches
  - product-batch-object
  - product-batches
  - batch-document-object
  - batch-documents
- name: Inventory Items
  tags:
  - inventory-item-object
  - inventory-items
- name: Facilities
  tags:
  - facility-object
  - facilities
- name: Customers
  tags:
  - customer-object
  - customers
  - contacts
  - activity-entries
  - customer-statuses
  - customer-tiers
  - credits
  - customer-tags
- name: Company Information
  tags:
  - companies
  - company-staff
  - licenses
  - license-types
  - brands
  - promocodes
  - reports
- name: Buyer Orders
  tags:
  - buyer-order-object
  - buyer-orders
- name: Retailer Inventory
  tags:
  - retailer-inventory
