openapi: 3.2.0
info:
  title: LeafLink Notification API
  version: '2022-10-31'
  description: 'This reference specification outlines all the available HTTP operations of the LeafLink API.


    See the [LeafLink Developer Hub](/api) for guides, how-to, and general information of the API.

    '
  termsOfService: https://www.leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
servers:
- url: https://api.leaflink.com
  description: LeafLink API production URL.
- url: https://staging-api.leaflink.com
  description: LeafLink API staging URL.
security:
- bearerAuth: []
tags:
- name: notification
paths:
  /notification/preferences/{id}:
    get:
      operationId: notification_preferences_retrieve
      description: Unified Notification Preferences view set.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this notification preference group.
        required: true
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - notification
      security:
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
components:
  schemas:
    NotificationPreferences:
      type: object
      description: Schema for notification preferences payload.
      properties:
        name:
          type: string
          maxLength: 255
        display_description:
          type: string
          maxLength: 255
        items:
          type: array
          items:
            $ref: '#/components/schemas/NotificationTopic'
          readOnly: true
      required:
      - display_description
      - items
      - name
    NotificationTopic:
      type: object
      description: Serializer for NotificationTopic model.
      properties:
        name:
          type: string
          maxLength: 255
        default_value:
          type: boolean
        description:
          type: string
          maxLength: 255
        available_medium:
          type: array
          items:
            type: string
          readOnly: true
      required:
      - available_medium
      - default_value
      - description
      - name
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Authentication is done via access tokens (JWTs). See the [API authentication doc](/api/getting-started/#authentication) for more information.

        '
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
