openapi: 3.2.0
info:
  title: LeafLink Marketplace V2 Product Lines API
  description: '# Introduction

    ## HTTP Request Notes

    All endpoints covered in this document are preceded by `https://{{domain}}/api/v2/` unless otherwise noted.


    Available domains


    - `app.leaflink.com` - production environment


    - `www.sandbox.leaflink.com` - sandbox environment


    - `www.leaflink-integrations.leaflink.com` - integrations sandbox environment


    [Learn more about sandbox environments](https://developer.leaflink.com/brands/api/authorization/#sandbox-environments)



    Request paths must end in a slash character (''/''). Those that do not will return a 400 (Bad Request) response.


    ## Dynamic Responses

    Some of our API endpoints support dynamic responses. These

    are responses that vary in content and/or object level payload size

    according to request path or query parameters.


    Available parameters are listed beneath endpoint definitions.

    '
  termsOfService: https://leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
  version: ''
servers:
- url: https://app.leaflink.com/api/v2
security:
- Token: []
tags:
- name: product-lines
paths:
  /product-lines/:
    parameters: []
    get:
      operationId: product-lines_list
      summary: List product lines
      description: 'List all product lines.


        <br />

        Retrieved per company with the company query parameter or with the following path parameter, /companies/{company_id}/product-lines/'
      parameters:
      - name: brand
        in: query
        description: Filter by brand
        required: false
        schema:
          type: string
      - name: id
        in: query
        description: Filter by id
        required: false
        schema:
          type: number
      - name: company
        in: query
        description: Filter by company
        required: false
        schema:
          type: number
      - name: company_slug
        in: query
        description: Filter by owner company slug.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductLineResponse'
      tags:
      - product-lines
    post:
      operationId: product-lines_create
      summary: Create a product line
      description: Create a new product line.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLineCreate'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLineResponse'
      tags:
      - product-lines
  /product-lines/{id}/:
    parameters:
    - name: id
      in: path
      description: The id for the product line.
      required: true
      schema:
        type: integer
    get:
      operationId: product-lines_read
      summary: Retrieve a product line
      description: Retrieve an individual product line.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLineResponse'
      tags:
      - product-lines
    patch:
      operationId: product-lines_partial_update
      summary: Update a product line
      description: Update an existing product line.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLineUpdate'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLineResponse'
      tags:
      - product-lines
components:
  schemas:
    ProductLineCreate:
      required:
      - name
      - brand
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        brand:
          type: integer
          description: Id for the brand. See `id` in the brands response.
        menu_position:
          description: Position of the product line on the menu.
          type: integer
    ProductLineResponse:
      type: object
      properties:
        id:
          type: integer
          description: Unique id generated by LeafLink.
        name:
          type: string
        brand:
          type: integer
          description: Id for the brand. See `id` in the brands response.
        menu_position:
          description: Position of the product line on the menu.
          type: integer
    ProductLineUpdate:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        brand:
          type: integer
          description: Id for the brand. See `id` in the brands response.
        menu_position:
          description: Position of the product line on the menu.
          type: integer
  securitySchemes:
    Token:
      description: 'You must authenticate your requests by including your API key in each request header as described below.


        Requests should include a header named `Authorization`, with the value `App {MY_API_KEY}`. Note the single space in the header value.


        Example: `Authorization: App MY_API_KEY`


        [Learn more about generating your key](https://developer.leaflink.com/brands/api/getting-started/)


        **Legacy API keys:** If you are not using an Application API key, your authorization header should include the string `Token` and access will be scoped to all companies under which the user exists as a companystaff.


        Example: `Authorization: Token MY_API_KEY`

        '
      in: header
      name: Authorization
      type: apiKey
x-tagGroups:
- name: Orders
  tags:
  - order-object
  - orders-received
  - order-payments
  - order-sales-reps
  - order-event-logs
  - line-item-object
  - line-items
- name: Products
  tags:
  - product-object
  - products
  - product-categories
  - product-subcategories
  - listing-states
  - product-images
  - product-lines
  - strains
- name: Batches
  tags:
  - batch-object
  - batches
  - product-batch-object
  - product-batches
  - batch-document-object
  - batch-documents
- name: Inventory Items
  tags:
  - inventory-item-object
  - inventory-items
- name: Facilities
  tags:
  - facility-object
  - facilities
- name: Customers
  tags:
  - customer-object
  - customers
  - contacts
  - activity-entries
  - customer-statuses
  - customer-tiers
  - credits
  - customer-tags
- name: Company Information
  tags:
  - companies
  - company-staff
  - licenses
  - license-types
  - brands
  - promocodes
  - reports
- name: Buyer Orders
  tags:
  - buyer-order-object
  - buyer-orders
- name: Retailer Inventory
  tags:
  - retailer-inventory
