openapi: 3.2.0
info:
  title: LeafLink Express Menus API
  version: '2022-10-31'
  description: 'This reference specification outlines all the available HTTP operations of the LeafLink API.


    See the [LeafLink Developer Hub](/api) for guides, how-to, and general information of the API.

    '
  termsOfService: https://www.leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
servers:
- url: https://api.leaflink.com
  description: LeafLink API production URL.
- url: https://staging-api.leaflink.com
  description: LeafLink API staging URL.
security:
- bearerAuth: []
tags:
- name: express_menus
paths:
  /express_menus:
    post:
      operationId: express_menus_create
      description: LeafLink API for Marketplace Express Product Menus.
      tags:
      - express_menus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnifiedExpressProductMenuRequest'
        required: true
      security:
      - bearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedExpressProductMenu'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
  /express_menus/{id}:
    get:
      operationId: express_menus_retrieve
      description: LeafLink API for Marketplace Express Product Menus.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this express product menu.
        required: true
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - express_menus
      security:
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedExpressProductMenu'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
    put:
      operationId: express_menus_update
      description: LeafLink API for Marketplace Express Product Menus.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this express product menu.
        required: true
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - express_menus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnifiedExpressProductMenuRequest'
        required: true
      security:
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedExpressProductMenu'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
    patch:
      operationId: express_menus_partial_update
      description: LeafLink API for Marketplace Express Product Menus.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this express product menu.
        required: true
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - express_menus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUnifiedExpressProductMenuRequest'
      security:
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedExpressProductMenu'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
    delete:
      operationId: express_menus_destroy
      description: LeafLink API for Marketplace Express Product Menus.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this express product menu.
        required: true
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - express_menus
      security:
      - bearerAuth: []
      responses:
        '204':
          description: No response body
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
components:
  schemas:
    UnifiedExpressProductMenu:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        brand:
          type: integer
          title: Express Menu Brand
        name:
          type: string
          readOnly: true
        price_schedule:
          type: integer
          title: Public Menu Price Schedule
        products:
          type: array
          items:
            type: integer
            title: Public Menu Products
          title: Public Menu Products
        products_count:
          type: integer
          readOnly: true
        slug:
          type: string
          readOnly: true
          pattern: ^[-a-zA-Z0-9_]+$
      required:
      - brand
      - id
      - name
      - price_schedule
      - products
      - products_count
      - slug
    PatchedUnifiedExpressProductMenuRequest:
      type: object
      properties:
        brand:
          type: integer
          title: Express Menu Brand
        price_schedule:
          type: integer
          title: Public Menu Price Schedule
        products:
          type: array
          items:
            type: integer
            title: Public Menu Products
          title: Public Menu Products
    UnifiedExpressProductMenuRequest:
      type: object
      properties:
        brand:
          type: integer
          title: Express Menu Brand
        price_schedule:
          type: integer
          title: Public Menu Price Schedule
        products:
          type: array
          items:
            type: integer
            title: Public Menu Products
          title: Public Menu Products
      required:
      - brand
      - price_schedule
      - products
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Authentication is done via access tokens (JWTs). See the [API authentication doc](/api/getting-started/#authentication) for more information.

        '
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
