openapi: 3.2.0
info:
  title: LeafLink Marketplace V2 Retailer Inventory API
  description: '# Introduction

    ## HTTP Request Notes

    All endpoints covered in this document are preceded by `https://{{domain}}/api/v2/` unless otherwise noted.


    Available domains


    - `app.leaflink.com` - production environment


    - `www.sandbox.leaflink.com` - sandbox environment


    - `www.leaflink-integrations.leaflink.com` - integrations sandbox environment


    [Learn more about sandbox environments](https://developer.leaflink.com/brands/api/authorization/#sandbox-environments)



    Request paths must end in a slash character (''/''). Those that do not will return a 400 (Bad Request) response.


    ## Dynamic Responses

    Some of our API endpoints support dynamic responses. These

    are responses that vary in content and/or object level payload size

    according to request path or query parameters.


    Available parameters are listed beneath endpoint definitions.

    '
  termsOfService: https://leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
  version: ''
servers:
- url: https://app.leaflink.com/api/v2
security:
- Token: []
tags:
- description: Product information for a retailer company.
  name: retailer-inventory
paths:
  /retailer-inventory/:
    parameters: []
    get:
      operationId: retailer-inventory_list
      summary: List products
      description: List all products.
      parameters:
      - name: company
        in: query
        description: Filter by company id.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/RetailerInventoryResponse'
      tags:
      - retailer-inventory
    post:
      operationId: retailer-inventory_create
      summary: Create a product
      description: Create a new product.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetailerInventoryCreate'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetailerInventoryResponse'
      tags:
      - retailer-inventory
  /retailer-inventory/{id}/:
    parameters:
    - name: id
      in: path
      description: The id for the product.
      required: true
      schema:
        type: integer
    get:
      operationId: retailer-inventory_read
      summary: Retrieve a product
      description: Retrieve an individual product.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetailerInventoryResponse'
      tags:
      - retailer-inventory
    patch:
      operationId: retailer-inventory_partial_update
      summary: Update a product
      description: Update an existing product.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetailerInventoryUpdate'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetailerInventoryResponse'
      tags:
      - retailer-inventory
    delete:
      operationId: retailer-inventory_delete
      summary: Delete a product
      description: Delete a product.
      responses:
        '204':
          description: ''
      tags:
      - retailer-inventory
components:
  schemas:
    RetailerInventoryCreate:
      required:
      - is_low
      - source
      - name
      - sku
      - brand
      - quantity
      - company
      - unit_of_measure
      type: object
      properties:
        is_low:
          description: Indicates if the inventory level is low.
          type: boolean
        source:
          description: Describes the source system providing the data.
          type: string
          maxLength: 400
          minLength: 1
        name:
          description: Product name
          type: string
          maxLength: 400
          minLength: 1
        sku:
          type: string
          description: Product sku
          maxLength: 400
          minLength: 1
        brand:
          type: string
          description: Product brand
          maxLength: 400
          minLength: 1
        quantity:
          description: Product inventory level
          type: integer
        company:
          description: Company id
          type: integer
        unit_of_measure:
          description: Product unit of measure
          type: string
          maxLength: 400
          minLength: 1
    RetailerInventoryResponse:
      type: object
      properties:
        id:
          type: integer
          description: Unique id generated by LeafLink.
        is_low:
          description: Indicates if the inventory level is low.
          type: boolean
        source:
          description: Describes the source system providing the data.
          type: string
          maxLength: 400
          minLength: 1
        name:
          description: Product name
          type: string
          maxLength: 400
          minLength: 1
        sku:
          type: string
          description: Product sku
          maxLength: 400
          minLength: 1
        brand:
          type: string
          description: Product brand
          maxLength: 400
          minLength: 1
        quantity:
          description: Product inventory level
          type: integer
        company:
          description: Company id
          type: integer
        unit_of_measure:
          description: Product unit of measure
          type: string
          maxLength: 400
          minLength: 1
        created_on:
          type: string
          format: date-time
          readOnly: true
          description: Date and time the product was created.
        modified:
          title: Modified
          type: string
          format: date-time
          readOnly: true
          description: Date and time the product was last modified.
    RetailerInventoryUpdate:
      type: object
      properties:
        is_low:
          description: Indicates if the inventory level is low.
          type: boolean
        source:
          description: Describes the source system providing the data.
          type: string
          maxLength: 400
          minLength: 1
        name:
          description: Product name
          type: string
          maxLength: 400
          minLength: 1
        sku:
          type: string
          description: Product sku
          maxLength: 400
          minLength: 1
        brand:
          type: string
          description: Product brand
          maxLength: 400
          minLength: 1
        quantity:
          description: Product inventory level
          type: integer
        company:
          description: Company id
          type: integer
        unit_of_measure:
          description: Product unit of measure
          type: string
          maxLength: 400
          minLength: 1
  securitySchemes:
    Token:
      description: 'You must authenticate your requests by including your API key in each request header as described below.


        Requests should include a header named `Authorization`, with the value `App {MY_API_KEY}`. Note the single space in the header value.


        Example: `Authorization: App MY_API_KEY`


        [Learn more about generating your key](https://developer.leaflink.com/brands/api/getting-started/)


        **Legacy API keys:** If you are not using an Application API key, your authorization header should include the string `Token` and access will be scoped to all companies under which the user exists as a companystaff.


        Example: `Authorization: Token MY_API_KEY`

        '
      in: header
      name: Authorization
      type: apiKey
x-tagGroups:
- name: Orders
  tags:
  - order-object
  - orders-received
  - order-payments
  - order-sales-reps
  - order-event-logs
  - line-item-object
  - line-items
- name: Products
  tags:
  - product-object
  - products
  - product-categories
  - product-subcategories
  - listing-states
  - product-images
  - product-lines
  - strains
- name: Batches
  tags:
  - batch-object
  - batches
  - product-batch-object
  - product-batches
  - batch-document-object
  - batch-documents
- name: Inventory Items
  tags:
  - inventory-item-object
  - inventory-items
- name: Facilities
  tags:
  - facility-object
  - facilities
- name: Customers
  tags:
  - customer-object
  - customers
  - contacts
  - activity-entries
  - customer-statuses
  - customer-tiers
  - credits
  - customer-tags
- name: Company Information
  tags:
  - companies
  - company-staff
  - licenses
  - license-types
  - brands
  - promocodes
  - reports
- name: Buyer Orders
  tags:
  - buyer-order-object
  - buyer-orders
- name: Retailer Inventory
  tags:
  - retailer-inventory
