openapi: 3.2.0
info:
  title: LeafLink Marketplace V2 Batch Documents API
  description: '# Introduction

    ## HTTP Request Notes

    All endpoints covered in this document are preceded by `https://{{domain}}/api/v2/` unless otherwise noted.


    Available domains


    - `app.leaflink.com` - production environment


    - `www.sandbox.leaflink.com` - sandbox environment


    - `www.leaflink-integrations.leaflink.com` - integrations sandbox environment


    [Learn more about sandbox environments](https://developer.leaflink.com/brands/api/authorization/#sandbox-environments)



    Request paths must end in a slash character (''/''). Those that do not will return a 400 (Bad Request) response.


    ## Dynamic Responses

    Some of our API endpoints support dynamic responses. These

    are responses that vary in content and/or object level payload size

    according to request path or query parameters.


    Available parameters are listed beneath endpoint definitions.

    '
  termsOfService: https://leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
  version: ''
servers:
- url: https://app.leaflink.com/api/v2
security:
- Token: []
tags:
- name: batch-documents
paths:
  /batch-documents/:
    get:
      operationID: batch-documents_list
      summary: List batch documents
      description: List all batch documents.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchDocumentNew'
      tags:
      - batch-documents
    post:
      operationID: batch-documents_create
      summary: Upload a batch document
      description: Upload a new batch document.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                document:
                  description: uri for the file
                  type: string
                  format: binary
                batch:
                  description: id for the Batch to attach this document to.
                  type: integer
                summary:
                  description: Additional information about the document.
                  type: string
                  maxLength: 350
              required:
              - document
              - batch
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDocumentNew'
      tags:
      - batch-documents
  /batch-documents/{id}/:
    parameters:
    - name: id
      in: path
      description: The id for the batch document.
      required: true
      schema:
        type: integer
    get:
      operationId: batch-documents_read
      summary: Retrieve a batch document
      description: Retrieve an individual batch document.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDocumentNew'
      tags:
      - batch-documents
    delete:
      operationId: batch-documents_delete
      summary: Delete a batch document
      description: Delete a batch document.
      responses:
        '204':
          description: ''
      tags:
      - batch-documents
components:
  schemas:
    BatchDocumentNew:
      type: object
      properties:
        id:
          type: integer
          description: Unique id generated by LeafLink.
        batch:
          type: integer
          description: Id for the batch.  See `id` in the batch object.
        created_on:
          type: string
          format: date-time
          readOnly: true
          description: Date and time the document was uploaded.
        modified:
          type: string
          format: date-time
          readOnly: true
          description: Date and time the document was last modified.
        summary:
          type: string
        document:
          description: uri for the document
          type: string
          readOnly: true
          format: uri
  securitySchemes:
    Token:
      description: 'You must authenticate your requests by including your API key in each request header as described below.


        Requests should include a header named `Authorization`, with the value `App {MY_API_KEY}`. Note the single space in the header value.


        Example: `Authorization: App MY_API_KEY`


        [Learn more about generating your key](https://developer.leaflink.com/brands/api/getting-started/)


        **Legacy API keys:** If you are not using an Application API key, your authorization header should include the string `Token` and access will be scoped to all companies under which the user exists as a companystaff.


        Example: `Authorization: Token MY_API_KEY`

        '
      in: header
      name: Authorization
      type: apiKey
x-tagGroups:
- name: Orders
  tags:
  - order-object
  - orders-received
  - order-payments
  - order-sales-reps
  - order-event-logs
  - line-item-object
  - line-items
- name: Products
  tags:
  - product-object
  - products
  - product-categories
  - product-subcategories
  - listing-states
  - product-images
  - product-lines
  - strains
- name: Batches
  tags:
  - batch-object
  - batches
  - product-batch-object
  - product-batches
  - batch-document-object
  - batch-documents
- name: Inventory Items
  tags:
  - inventory-item-object
  - inventory-items
- name: Facilities
  tags:
  - facility-object
  - facilities
- name: Customers
  tags:
  - customer-object
  - customers
  - contacts
  - activity-entries
  - customer-statuses
  - customer-tiers
  - credits
  - customer-tags
- name: Company Information
  tags:
  - companies
  - company-staff
  - licenses
  - license-types
  - brands
  - promocodes
  - reports
- name: Buyer Orders
  tags:
  - buyer-order-object
  - buyer-orders
- name: Retailer Inventory
  tags:
  - retailer-inventory
