openapi: 3.2.0
info:
  title: LeafLink Marketplace V2 Order Event Logs API
  description: '# Introduction

    ## HTTP Request Notes

    All endpoints covered in this document are preceded by `https://{{domain}}/api/v2/` unless otherwise noted.


    Available domains


    - `app.leaflink.com` - production environment


    - `www.sandbox.leaflink.com` - sandbox environment


    - `www.leaflink-integrations.leaflink.com` - integrations sandbox environment


    [Learn more about sandbox environments](https://developer.leaflink.com/brands/api/authorization/#sandbox-environments)



    Request paths must end in a slash character (''/''). Those that do not will return a 400 (Bad Request) response.


    ## Dynamic Responses

    Some of our API endpoints support dynamic responses. These

    are responses that vary in content and/or object level payload size

    according to request path or query parameters.


    Available parameters are listed beneath endpoint definitions.

    '
  termsOfService: https://leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
  version: ''
servers:
- url: https://app.leaflink.com/api/v2
security:
- Token: []
tags:
- name: order-event-logs
paths:
  /order-event-logs/:
    parameters: []
    get:
      operationId: order-event-logs_list
      summary: List
      description: List all order event logs.
      parameters:
      - name: id
        in: query
        description: Filter by id
        required: false
        schema:
          type: number
      - name: by
        in: query
        description: Filter Event Logs by the username, first name, or last name of the person whose event created it.
        required: false
        schema:
          type: string
      - name: order
        in: query
        description: Filter Event Logs by their associated order number.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderEventLog'
      tags:
      - order-event-logs
  /order-event-logs/{id}/:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this order event log.
      required: true
      schema:
        type: integer
    get:
      operationId: order-event-logs_read
      summary: Read
      description: Retrieve an individual order event log by id.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderEventLog'
      tags:
      - order-event-logs
components:
  schemas:
    OrderEventLog:
      required:
      - event_type
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        order:
          title: Order
          type: string
          format: uuid
          readOnly: true
        author_name:
          title: Author name
          type: string
          readOnly: true
        by:
          title: By
          type: string
          pattern: ^[\w.@+-]+$
          readOnly: true
        event_type:
          title: Event type
          type: string
          enum:
          - accepted
          - backordered
          - cancelled
          - completed
          - created
          - edited
          - fulfilled
          - rejected
          - combined
          - rep_edited
          - shipped
          - shipping_edited
          - submitted
          - unaccepted
        description:
          title: Description
          type:
          - string
          - 'null'
          maxLength: 255
        created_on:
          title: Created on
          type: string
          format: date-time
          readOnly: true
        modified:
          title: Modified
          type: string
          format: date-time
          readOnly: true
        timestamp:
          title: Timestamp
          type: string
          format: date-time
          readOnly: true
        changed_fields:
          title: Changed fields
          type: object
          readOnly: true
        source:
          title: Event Source
          description: Where the change to the Order was made
          type: string
          enum:
          - app
          - api
          - other
        source_detail:
          title: Event Source Desc.
          description: Where the change to the Order was made.
          type: string
          maxLength: 200
  securitySchemes:
    Token:
      description: 'You must authenticate your requests by including your API key in each request header as described below.


        Requests should include a header named `Authorization`, with the value `App {MY_API_KEY}`. Note the single space in the header value.


        Example: `Authorization: App MY_API_KEY`


        [Learn more about generating your key](https://developer.leaflink.com/brands/api/getting-started/)


        **Legacy API keys:** If you are not using an Application API key, your authorization header should include the string `Token` and access will be scoped to all companies under which the user exists as a companystaff.


        Example: `Authorization: Token MY_API_KEY`

        '
      in: header
      name: Authorization
      type: apiKey
x-tagGroups:
- name: Orders
  tags:
  - order-object
  - orders-received
  - order-payments
  - order-sales-reps
  - order-event-logs
  - line-item-object
  - line-items
- name: Products
  tags:
  - product-object
  - products
  - product-categories
  - product-subcategories
  - listing-states
  - product-images
  - product-lines
  - strains
- name: Batches
  tags:
  - batch-object
  - batches
  - product-batch-object
  - product-batches
  - batch-document-object
  - batch-documents
- name: Inventory Items
  tags:
  - inventory-item-object
  - inventory-items
- name: Facilities
  tags:
  - facility-object
  - facilities
- name: Customers
  tags:
  - customer-object
  - customers
  - contacts
  - activity-entries
  - customer-statuses
  - customer-tiers
  - credits
  - customer-tags
- name: Company Information
  tags:
  - companies
  - company-staff
  - licenses
  - license-types
  - brands
  - promocodes
  - reports
- name: Buyer Orders
  tags:
  - buyer-order-object
  - buyer-orders
- name: Retailer Inventory
  tags:
  - retailer-inventory
