openapi: 3.2.0
info:
  title: LeafLink Payments API
  version: '2022-10-31'
  description: 'This reference specification outlines all the available HTTP operations of the LeafLink API.


    See the [LeafLink Developer Hub](/api) for guides, how-to, and general information of the API.

    '
  termsOfService: https://www.leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
servers:
- url: https://api.leaflink.com
  description: LeafLink API production URL.
- url: https://staging-api.leaflink.com
  description: LeafLink API staging URL.
security:
- bearerAuth: []
tags:
- name: payments
paths:
  /payments:
    get:
      operationId: payments_list
      description: ViewSet for handling requests related to order payments.
      parameters:
      - in: query
        name: created_date_from
        schema:
          type: string
          format: date
      - in: query
        name: created_date_to
        schema:
          type: string
          format: date
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - payments
      security:
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUnifiedOrderPaymentList'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
    post:
      operationId: payments_create
      description: ViewSet for handling requests related to order payments.
      tags:
      - payments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnifiedOrderPaymentRequest'
        required: true
      security:
      - bearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedOrderPayment'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
  /payments/{id}:
    get:
      operationId: payments_retrieve
      description: ViewSet for handling requests related to order payments.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this order payment.
        required: true
      - name: LeafLink-Version
        description: '[API version docs](/api/getting-started/#versioning)'
        required: false
        in: header
        schema:
          type: string
          format: date
      tags:
      - payments
      security:
      - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedOrderPayment'
          description: ''
          headers:
            RateLimit-Limit:
              schema:
                type: integer
              description: The requests quota in the time window.
            RateLimit-Remaining:
              schema:
                type: integer
              description: The remaining requests quota in the current window.
            RateLimit-Reset:
              schema:
                type: integer
              description: The time remaining in the current window, specified in seconds.
            RateLimit-Policy:
              schema:
                type: string
              description: The quota policy information.
        '429':
          description: Rate Limit Error
          headers:
            Retry-After:
              schema:
                type: integer
              description: The time remaining before the rejected request can be tried again, specified in seconds.
components:
  schemas:
    OrderPaymentUnifiedCustomer:
      type: object
      description: Serializer for company data focusing on name and ID.
      properties:
        name:
          type: string
          description: Name of Company (Note this is not the same as Brand)
          maxLength: 400
        id:
          type: integer
          readOnly: true
      required:
      - id
      - name
    PaymentTypeEnum:
      enum:
      - other
      - cash
      - check
      - credit
      - trade
      - ach
      - wire
      - cashier
      - leaflink_direct_payment
      - leaflink_flexible_payment
      - leaflink_financial
      type: string
    PaginatedUnifiedOrderPaymentList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?page=4
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?page=2
        results:
          type: array
          items:
            $ref: '#/components/schemas/UnifiedOrderPayment'
    UnifiedOrderPaymentRequest:
      type: object
      description: Serializer for handling order payment data and validations.
      properties:
        order:
          type: string
          format: uuid
        payment_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Date that the was submitted.
        total:
          type: string
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          description: Total Paid
        payment_type:
          allOf:
          - $ref: '#/components/schemas/PaymentTypeEnum'
          description: How this payment was submitted.
      required:
      - order
      - total
    UnifiedOrderPayment:
      type: object
      description: Serializer for handling order payment data and validations.
      properties:
        id:
          type: integer
          readOnly: true
        created_date:
          type: string
          format: date-time
          readOnly: true
          description: Date and time the resource was created
        modified_date:
          type: string
          format: date-time
          readOnly: true
          description: Date and time of the last edit
        order:
          type: string
          format: uuid
        payment_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Date that the was submitted.
        total:
          type: string
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          description: Total Paid
        currency:
          type: string
          readOnly: true
        payment_type:
          allOf:
          - $ref: '#/components/schemas/PaymentTypeEnum'
          description: How this payment was submitted.
        customer:
          allOf:
          - $ref: '#/components/schemas/OrderPaymentUnifiedCustomer'
          readOnly: true
      required:
      - created_date
      - currency
      - customer
      - id
      - modified_date
      - order
      - total
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Authentication is done via access tokens (JWTs). See the [API authentication doc](/api/getting-started/#authentication) for more information.

        '
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
