openapi: 3.2.0
info:
  title: LeafLink Marketplace V2 Order Comments API
  description: '# Introduction

    ## HTTP Request Notes

    All endpoints covered in this document are preceded by `https://{{domain}}/api/v2/` unless otherwise noted.


    Available domains


    - `app.leaflink.com` - production environment


    - `www.sandbox.leaflink.com` - sandbox environment


    - `www.leaflink-integrations.leaflink.com` - integrations sandbox environment


    [Learn more about sandbox environments](https://developer.leaflink.com/brands/api/authorization/#sandbox-environments)



    Request paths must end in a slash character (''/''). Those that do not will return a 400 (Bad Request) response.


    ## Dynamic Responses

    Some of our API endpoints support dynamic responses. These

    are responses that vary in content and/or object level payload size

    according to request path or query parameters.


    Available parameters are listed beneath endpoint definitions.

    '
  termsOfService: https://leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
  version: ''
servers:
- url: https://app.leaflink.com/api/v2
security:
- Token: []
tags:
- name: order-comments
paths:
  /orders-received/{number}/comments/:
    parameters:
    - name: number
      in: path
      description: Order number
      required: true
      schema:
        type: string
    get:
      operationId: orders-received-comments_list
      summary: List comments
      description: List comments for an order.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderComment'
      tags:
      - order-comments
components:
  schemas:
    OrderComment:
      required:
      - order
      - author
      - message
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        order:
          title: Order
          type: string
          format: uuid
        author:
          title: Author of comment
          description: The author of the comment
          type: integer
        author_name:
          title: Author name
          type: string
          readOnly: true
        message:
          title: Message
          description: Message associated with comment
          type: string
          minLength: 1
        created_on:
          title: Created on
          type: string
          format: date-time
          readOnly: true
        modified:
          title: Modified
          type: string
          format: date-time
          readOnly: true
  securitySchemes:
    Token:
      description: 'You must authenticate your requests by including your API key in each request header as described below.


        Requests should include a header named `Authorization`, with the value `App {MY_API_KEY}`. Note the single space in the header value.


        Example: `Authorization: App MY_API_KEY`


        [Learn more about generating your key](https://developer.leaflink.com/brands/api/getting-started/)


        **Legacy API keys:** If you are not using an Application API key, your authorization header should include the string `Token` and access will be scoped to all companies under which the user exists as a companystaff.


        Example: `Authorization: Token MY_API_KEY`

        '
      in: header
      name: Authorization
      type: apiKey
x-tagGroups:
- name: Orders
  tags:
  - order-object
  - orders-received
  - order-payments
  - order-sales-reps
  - order-event-logs
  - line-item-object
  - line-items
- name: Products
  tags:
  - product-object
  - products
  - product-categories
  - product-subcategories
  - listing-states
  - product-images
  - product-lines
  - strains
- name: Batches
  tags:
  - batch-object
  - batches
  - product-batch-object
  - product-batches
  - batch-document-object
  - batch-documents
- name: Inventory Items
  tags:
  - inventory-item-object
  - inventory-items
- name: Facilities
  tags:
  - facility-object
  - facilities
- name: Customers
  tags:
  - customer-object
  - customers
  - contacts
  - activity-entries
  - customer-statuses
  - customer-tiers
  - credits
  - customer-tags
- name: Company Information
  tags:
  - companies
  - company-staff
  - licenses
  - license-types
  - brands
  - promocodes
  - reports
- name: Buyer Orders
  tags:
  - buyer-order-object
  - buyer-orders
- name: Retailer Inventory
  tags:
  - retailer-inventory
