openapi: 3.2.0
info:
  title: LeafLink Marketplace V2 Strains API
  description: '# Introduction

    ## HTTP Request Notes

    All endpoints covered in this document are preceded by `https://{{domain}}/api/v2/` unless otherwise noted.


    Available domains


    - `app.leaflink.com` - production environment


    - `www.sandbox.leaflink.com` - sandbox environment


    - `www.leaflink-integrations.leaflink.com` - integrations sandbox environment


    [Learn more about sandbox environments](https://developer.leaflink.com/brands/api/authorization/#sandbox-environments)



    Request paths must end in a slash character (''/''). Those that do not will return a 400 (Bad Request) response.


    ## Dynamic Responses

    Some of our API endpoints support dynamic responses. These

    are responses that vary in content and/or object level payload size

    according to request path or query parameters.


    Available parameters are listed beneath endpoint definitions.

    '
  termsOfService: https://leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
  version: ''
servers:
- url: https://app.leaflink.com/api/v2
security:
- Token: []
tags:
- name: strains
paths:
  /strains/:
    parameters: []
    get:
      operationId: strains_list
      summary: List strains
      description: List all strains.
      parameters:
      - name: id
        in: query
        description: Filter by strain id
        required: false
        schema:
          type: number
      - name: name
        in: query
        description: Filter by strain name
        required: false
        schema:
          type: string
      - name: company
        in: query
        description: Filter by company ids, separated by commas
        required: false
        schema:
          type: number
      - name: company_slug
        in: query
        description: Filter by company slug
        required: false
        schema:
          type: string
      - name: company__isnull
        in: query
        description: Filter by company__isnull
        required: false
        schema:
          type: string
      - name: parents
        in: query
        description: Filter by parent strain ids, separated by commas
        required: false
        schema:
          type: number
      - name: strain_classification
        in: query
        description: Filter by strain classifications, separated by commas.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/StrainResponse'
      tags:
      - strains
    post:
      operationId: strains_create
      summary: Create a strain
      description: Create a new strain.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StrainCreate'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrainResponse'
      tags:
      - strains
  /strains/{id}/:
    get:
      operationId: strains_read
      summary: Retrieve a strain
      description: Retrieve an individual Strain.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrainResponse'
      tags:
      - strains
components:
  schemas:
    StrainCreate:
      required:
      - name
      - strain_classification
      type: object
      properties:
        name:
          type: string
        parents:
          type: array
          description: Array of parent strain ids
          items:
            type: integer
        company:
          description: Id for the company that created the strain.
          type: integer
        strain_classification:
          type: string
          enum:
          - sativa
          - indica
          - hybrid
          - na
          - 11-cbd
          - high-cbd
          - sativa-hybrid
          - indica-hybrid
    StrainResponse:
      type: object
      properties:
        id:
          type: integer
          description: Unique id generated by LeafLink.
        name:
          type: string
        parents:
          type: array
          description: Array of parent strain ids
          items:
            type: integer
        company:
          description: Id for the company that created the strain.
          type: integer
        strain_classification:
          type: string
          enum:
          - sativa
          - indica
          - hybrid
          - na
          - 11-cbd
          - high-cbd
          - sativa-hybrid
          - indica-hybrid
  securitySchemes:
    Token:
      description: 'You must authenticate your requests by including your API key in each request header as described below.


        Requests should include a header named `Authorization`, with the value `App {MY_API_KEY}`. Note the single space in the header value.


        Example: `Authorization: App MY_API_KEY`


        [Learn more about generating your key](https://developer.leaflink.com/brands/api/getting-started/)


        **Legacy API keys:** If you are not using an Application API key, your authorization header should include the string `Token` and access will be scoped to all companies under which the user exists as a companystaff.


        Example: `Authorization: Token MY_API_KEY`

        '
      in: header
      name: Authorization
      type: apiKey
x-tagGroups:
- name: Orders
  tags:
  - order-object
  - orders-received
  - order-payments
  - order-sales-reps
  - order-event-logs
  - line-item-object
  - line-items
- name: Products
  tags:
  - product-object
  - products
  - product-categories
  - product-subcategories
  - listing-states
  - product-images
  - product-lines
  - strains
- name: Batches
  tags:
  - batch-object
  - batches
  - product-batch-object
  - product-batches
  - batch-document-object
  - batch-documents
- name: Inventory Items
  tags:
  - inventory-item-object
  - inventory-items
- name: Facilities
  tags:
  - facility-object
  - facilities
- name: Customers
  tags:
  - customer-object
  - customers
  - contacts
  - activity-entries
  - customer-statuses
  - customer-tiers
  - credits
  - customer-tags
- name: Company Information
  tags:
  - companies
  - company-staff
  - licenses
  - license-types
  - brands
  - promocodes
  - reports
- name: Buyer Orders
  tags:
  - buyer-order-object
  - buyer-orders
- name: Retailer Inventory
  tags:
  - retailer-inventory
